{% extends 'base.html' %}

{% block title %} H.C. Jewellers{% endblock %}

{% block content %}
<div id="about_container" class="text-white d-flex">
    <div class="container-fluid text-center pb-0 mb-0">
        <div class="row justify-content-evenly">
            <div class="col-11 col-md-6 text-white">
                <h1 class="heading text-start mt-5 mb-3 ps-5 laptop_text_about">About
                    Us</h1>
                <p class="subtitle text-start px-md-5 px-3 laptop_text_subtitle">
                    H.C. Jewellers, your destination for exquisite gemstones and custom jewellery.We specialise in both
                    rough and polished gemstones, Emerald, Ruby, Sapphire, and semi-precious stones like Tanzanite and
                    Rubellite. Our jewellery expertise ensures each piece is a unique masterpiece, tailored to your
                    vision.</p>
            </div>
            <div class="col-11 col-md-5"></div>
        </div>

    </div>
</div>

<div style="background-color: #143832;">
    <div class="container-fluid text-white">
        <div class="row justify-content-evenly">
            <div class="col-11 col-md-5">
                <img class="img-fluid pt-md-5 mt-5 mt-md-2 w-100 h-auto" src="static/img/About_Page/About-1.jpg"
                    alt="Couldn't Load img">


            </div>
            <div class="col-11 col-md-5" style="padding-top: 60px;">
                <h1 class="heading pb-3 text-start ">Our Story</h1>
                <h5 class="heading pb-2 text-start" style="font-size: 25px;">Creating legacy</h5>
                <p class="subtitle">Begins in the 1960s, in the heart of Jaipur, a city steeped in cultural
                    grandeur and
                    gemstone heritage. From humble beginnings, our family business grew with an unwavering commitment to
                    natural stones. What started as an expertise in rough mined emeralds soon evolved into a legacy of
                    loose
                    precious stones and statement jewellery pieces, each designed to celebrate the harmony between
                    nature’s
                    beauty and the wearer’s individuality.

                    For three generations, we have refined our craft, ensuring that every gemstone is chosen with
                    intent,
                    and every design speaks of artistry. To us, jewelry isn’t just about adornment—it’s about stories,
                    milestones, and emotions.</p>
            </div>
        </div>
        <hr class="text-black">

        <div class="row justify-content-evenly">

            <div class="col-11 col-md-5 pt-md-5 text-md-end">

                <h1 class="heading pb-3 text-start ">
                    Our Promise</h1>
                <p class="subtitle text-sm-start">We just don’t select or create pieces or stones, we adore
                    them, as they
                    create someone’s legacy. They are going to be studded, passed down from one generation to another
                    leaving the mark of their love, care and sentiment which is just not going to be worn on certain
                    occasion but life long and beyond. We only trade in natural gemstones and provide certified
                    gemstones or jewellery so you get your money's worth.</p>
            </div>

            <div class="col-11 col-md-5 ">
                <img class="img-fluid pt-md-3 mt-4 mt-md-0 w-100 h-auto" src="static/img/About_Page/About-2.jpg"
                    alt="Couldn't Load img">
                <p></p>


            </div>
        </div>

    </div>
    <hr class="text-black mt-3">

    <div class="row justify-content-evenly">
        <div class="col-11 col-md-5 mb-5 text-center">
            <img class="img-fluid pt-md-5 mt-4  mt-md-1 w-100 h-auto" src="static/img/About_Page/About-3.jpg"
                alt="Couldn't Load img">

        </div>

        <div class="col-11 col-md-5 pt-md-5 pt-sm-0 text-white">
            <h1 class="heading pb-3">
                Our Mission and Vision</h1>
            <p class="subtitle pb-2">Our mission is simple: To deliver nothing but the finest gemstones and
                bespoke jewellery, with a deeply personal touch.
                <br><br>
                We believe that selecting a gemstone or commissioning a jewellery piece is a profound experience—one
                that should never be rushed or taken lightly. That’s why we do not sell our products online or engage in
                mass distribution. Each selection is a moment of trust between us and our customers, and we honor that
                by ensuring every gemstone meets the highest standards of quality and authenticity
                ​<br><br>

                For those who seek the finest natural gemstones and a truly bespoke jewellery experience, H.C. Jewellers
                is more than just a destination—it’s a legacy in the making.
            </p>
        </div>
    </div>
</div>

{% include "footers.html" %}

{% endblock %}