{% extends "base.html" %}

{% block title %} H.C. Jewellers{% endblock %}


{% block content %}



<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/img/Home_Page/Emerald-Carsouel-1.jpg" class="d-block w-100 f_slide" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/img/Home_Page/Emerald-Carsouel-3.jpg" class="d-block w-100 s_slide" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/img/Home_Page/Emerald-Carsouel-2.jpg" class="d-block w-100 t_slide" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- #73946B -->
<div style="background-color: #143832;">
  <div class="container-fluid  text-white p-5">
    <div class="row justify-content-evenly align-items-center">

      <!-- Left Text + Image -->
      <div class="col-12 col-md-5 mb-5 mb-md-0">
        <h3 class="heading text-white" style="letter-spacing: 4px; font-size: 35px;">CRAFTING ELEGANCE</h3>
        <p class="subtitle text-white" style="letter-spacing: 2px;">
          Every gemstone has a story waiting to be told. With a legacy of excellence, we specialize in
          sourcing the finest gemstones and creating bespoke jewellery that reflects the individuality of every client.
        </p>
        <div class="text-center pt-4">
          <img src="static/img/Home_Page/index-1.jpg" class="img-fluid rounded d-block" alt="Image can't load">
        </div>
      </div>

      <!-- Right Image -->
      <div class="col-12 col-md-5">
        <div class="text-center">
          <img src="static/img/Home_Page/index-2.jpg" class="img-fluid rounded d-block" alt="Image can't load">
        </div>
      </div>

    </div>

    <hr class="text-black">

    <!-- Necklace Section -->
    <div class="row justify-content-center pt-5">
      <div class="col-12 text-center">
        <h3 class="heading" style="letter-spacing: 4px;">From Vision To Reality</h3>
        <p class="subtitle" style="letter-spacing: 2px;">
          Transform your dream designs into reality with our bespoke jewellery service. From timeless heirlooms to
          modern masterpieces create pieces that are uniquely yours.
        </p>
        <div class="row">
          <div class="col-12">
            <img src="static/img/Home_Page/necklace.jpg" alt="Image can't load" id="necklace" class="img-fluid">
            
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



{% include 'footers.html'%}

{% endblock %}