{% macro render_form(form) %}
  <form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form %}
      {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
        <div class="mb-3">
          {{ field.label(class_="form-label") }}
          {{ field(class_="form-control") }}
          {% if field.errors %}
            <div class="text-danger">
              {% for error in field.errors %}
                <div>{{ error }}</div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
    {{ form.submit(class_="btn btn-primary") }}
  </form>
{% endmacro %}